 ------
 Universal Maven Parent POM
 ------
 Yegor Bugayenko
 ------
 2012-04-29
 ------

~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

Universal Maven Parent POM

  Base your Maven projects on this artifact and you will get
  many pre-configuration benefits, including up-to-date
  <<<dependencies>>>, <<<plugins>>>, build <<<extensions>>>,
  <<<repositories>>>, and more. All that you need to do is to
  define our artifact as a parent of your project:

+--
<project>
  <modelVersion>4.0.0</modelVersion>
  <parent>
    <groupId>com.jcabi</groupId>
    <artifactId>parent</artifactId>
    <version>${project.version}</version>
  </parent>
  <groupId>your-group-id</groupId>
  <artifactId>your-artifact-id</artifactId>
  <version>1.2.3-SNAPSHOT</version>
  [...]
</project>
+--

  This is what we have in our
  {{{https://github.com/jcabi/jcabi-parent/blob/master/pom.xml}<<<pom.xml>>>}}.

  Take a look at the
  {{{https://github.com/jcabi/jcabi/blob/master/pom.xml}<<<pom.xml>>>}}
  of jcabi itself, as a good example of
  how <<<com.jcabi:parent>>> can be effectively used to minimize XML duplication.
