 ------
 Pre-defined Plugins in <<<pluginManagement>>>
 ------
 Yegor Bugayenko
 ------
 2012-12-10
 ------

~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

Pre-Defined Maven Plugins

  <<<com.jcabi:parent>>> POM declares a number of most useful
  plugins in its <<<pluginManagement>>> section. You can use
  them without specifying <<<version>>>. Thus, you don't need to worry
  about keeping versions up to date. When you're ready to upgrade, just
  change the version of our parent POM and all plugins will
  be upgraded automatically.

  All important <<<maven-*-plugin>>> plugins are there.

  Check out
  {{{https://github.com/jcabi/jcabi-parent/blob/master/pom.xml}<<<pom.xml>>>}}
  for a complete list of plugins.
