 ------
 "clojure" Profile for Clojure sources compiling
 ------
 Yegor Bugayenko
 ------
 2013-02-27
 ------

~~ #set($sign="$")
~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

"clojure" Profile for Clojure sources compiling

  The profile is activated automatically when you have
  a <<<src/main/clojure>>> directory in the project. Otherwise, you can
  activate it explicitly:

+--
$ mvn clean install -Pclojure
+--

  The profile compiles all Clojure sources, both from
  <<<src/main/clojure>>> and <<<src/test/clojure>>> directories.
