 ------
 "groovy" Profile for Groovy sources compiling
 ------
 Yegor Bugayenko
 ------
 2014-05-05
 ------

~~ #set($sign="$")
~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

"groovy" Profile for Groovy sources compiling

  The profile is activated automatically when you have
  a <<<src/main/groovy>>> directory in the project. Otherwise, you can
  activate it explicitly:

+--
$ mvn clean install -Pgroovy
+--

  The profile compiles all Groovy sources, both from
  <<<src/main/groovy>>> and <<<src/test/groovy>>> directories.
