 ------
 "Site" Profile for Advanced Maven Site Configuration
 ------
 Yegor Bugayenko
 ------
 2012-12-10
 ------

~~ #set($sign="$")
~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

"Site" Profile for Advanced Maven Site Configuration

  Most of production site content takes time to build (for example,
  JavaDoc API, changes report, etc). It's convenient to move those
  configuration plugins to a profile, which is activated only
  once in a while. Profile <<<site>>> does exactly that, grouping together
  most time-consuming reporting plugins.
  The profile can be activated only manually from
  command line, e.g.:

+--
$ mvn clean install site-deploy -Psite
+--

  The profile configures
  {{{http://maven.apache.org/plugins/maven-site-plugin/}<<<maven-site-plugin>>>}}
  with all required reporting plugins:

   * {{{http://maven.apache.org/plugins/maven-project-info-reports-plugin/}<<<maven-project-info-reports-plugin>>>}}
     creates basic "project information" reports.

   * {{{http://maven.apache.org/plugins/maven-javadoc-plugin/}<<<maven-javadoc-plugin>>>}}
     builds JavaDoc API documentation in <<<./apidocs-${sign}{project.version}>>>
     directory.

   * {{{http://mojo.codehaus.org/cobertura-maven-plugin/}<<<cobertura-maven-plugin>>>}}
     generates code coverage report.

   * {{{http://maven.apache.org/plugin-tools/maven-plugin-plugin/}<<<maven-plugin-plugin>>>}}
     generates documentation for a Maven plugin.

   * {{{http://mojo.codehaus.org/versions-maven-plugin/}<<<versions-maven-plugin>>>}}
     reports about available dependency and plugin versions.

  Also <<<site>>> profile has the following plugins:

   * {{{http://maven.apache.org/plugins/maven-docck-plugin/index.html}<<<maven-docck-plugin>>>}}
     checks the quality of Maven project documentation.

  You can add your own reporting plugins, for example (pay
  attention to <<<combine.children>>> attribute of <<<reportPlugins>>>
  element):

+--
<profiles>
  [...]
  <profile>
    <id>site</id>
    <build>
      <plugins>
        <plugin>
          <artifactId>maven-site-plugin</artifactId>
          <configuration>
            <reportPlugins combine.children="append">
              <plugin>
                <artifactId>maven-changes-plugin</artifactId>
                <version>2.8</version>
                <reportSets>
                  <reportSet>
                    <reports>
                      <report>changes-report</report>
                    </reports>
                  </reportSet>
                </reportSets>
              </plugin>
            </reportPlugins>
          </configuration>
        </plugin>
      </plugins>
    </build>
  </profile>
</profiles>
+--

  Also you can add your own plugins that should be
  executed when you're building a production site. Just add them
  to the <<<site>>> profile.
