 ------
 "Qulice" Profile for Static Quality Control
 ------
 Yegor Bugayenko
 ------
 2012-12-10
 ------

~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

"Qulice" Profile for Static Quality Control

  Profile <<<qulice>>> can be activated only manually from
  command line, e.g.:

+--
$ mvn clean install -Pqulice
+--

  It runs a number of checks to make sure the quality of
  the build is acceptable. There is only one plugin that is used at the moment
  to control quality and prevent errors:

  {{{http://www.qulice.com/qulice-maven-plugin/}<<<qulice-maven-plugin>>>}}
  is a compound static analysis plugin, that pre-configures and executes
  Checkstyle, PMD, FindBugs, CodeNarc (for Groovy code) and a few other
  plugins in one bucket. That's why the name of the profile, since this
  is the biggest tool being executed. It is expected by default that
  your <<<LICENSE.txt>>> is located in a root directory of every module.

  All plugins are bound to the <<<verify>>> Maven phase. All executions
  are named <<<jcabi-check>>>.
