 ------
 JUnit, Hamcrest, and Mockito
 ------
 Yegor Bugayenko
 ------
 2013-05-01
 ------

~~ #set($sign="$")
~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

JUnit, Hamcrest, and Mockito

  The profile is activated automatically when
  <<<src/test/java>>> directory exists in the project. These artifacts
  are automatically added to the list of <<<dependencies>>> (in <<<test>>> scope,
  of course):

   * {{{https://github.com/kentbeck/junit/wiki}<<<junit:junit>>>}}:
     unit testing framework;

   * {{{http://code.google.com/p/hamcrest/}<<<org.hamcrest:hamcrest-core>>>}}
     and {{{http://code.google.com/p/hamcrest/}<<<org.hamcrest:hamcrest-library>>>}}:
     assertion framework;

   * {{{http://code.google.com/p/mockito/}<<<org.mockito:mockito-core>>>}}:
     mocking framework.

  Thus, all you need is to create a unit test in <<<src/test/java>>> and all
  necessary dependencies will be available in classpath.
