 ------
 "Aspectj" Profile for AOP Weaving
 ------
 Yegor Bugayenko
 ------
 2012-12-12
 ------

~~ #set($sign="$")
~~ SPDX-FileCopyrightText: Copyright (c) 2012-2026 Yegor Bugayenko
~~ SPDX-License-Identifier: MIT

"Aspectj" Profile for AOP Weaving

  The profile is activated automatically when you have
  a <<<src/main/aspect>>> directory in the project. Otherwise, you can
  activate it explicitly:

+--
$ mvn clean install -Paspectj
+--

  The profile runs
  {{{http://plugin.jcabi.com/example-ajc.html}<<<jcabi-maven-plugin:ajc>>>}} plugin and adds
  these dependencies to the classpath:

   * {{{http://aspects.jcabi.com/}<<<com.jcabi:jcabi-aspects>>>}}:
     JSR-303 and other AOP aspects;

   * {{{http://www.eclipse.org/aspectj/}<<<org.aspectj:aspectjrt>>>}} (in <<<runtime>>> scope):
     runtime AOP engine;

   * {{{http://docs.oracle.com/javaee/6/api/javax/validation/package-summary.html}<<<javax.validation:validation-api>>>}}:
     JSR-303 API;

  Don't forget to add JSR-303 validator implementation to your classpath,
  as explained in {{{http://aspects.jcabi.com/jsr-303.html}jcabi-aspects}}.

  Pay attention that these dependencies are there only when
  profile is activated. After the artifact installation the profile
  won't be activated and you should add runtime dependencies explicitly to the
  project:

+--
<dependencies>
  <dependency>
    <groupId>com.jcabi</groupId>
    <artifactId>jcabi-aspects</artifactId>
  </dependency>
  <dependency>
    <groupId>org.aspectj</groupId>
    <artifactId>aspectjrt</artifactId>
    <scope>runtime</scope>
  </dependency>
  <dependency>
    <groupId>javax.validation</groupId>
    <artifactId>validation-api</artifactId>
    <scope>runtime</scope>
  </dependency>
</dependencies>
+--

  This profile doesn't conflict with
  {{{http://docs.oracle.com/javase/1.5.0/docs/guide/apt/GettingStarted.html}APT}},
  because AspectJ weaving is happening
  outside of the main directory and its results are applied on top of
  APT-processed classes. The solution is borrowed from
  {{{http://stackoverflow.com/questions/3660547}Sean Patrick Floyd}}.
